{% extends "index.html" %}
{% block page_content %}

<!-- Body -->
<section class="bg-light p-4 pt-5">
    <div class="container px-5">
        <h2 class="text-center text-secondary">
            Register To <span class="text-info">WPD Login System</span>
        </h2>
        <div class="d-flex align-items-center justify-content-center">
            <form class="py-5" method="post" action="{{ url_for('register') }}">

                <div class="form-group ">
                    {% with messages = get_flashed_messages()  %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                      {{ message }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    
                  </div>
                <div class="mb-3 text-dark">
                    <label for="name" class="form-label text">Name : </label>
                    <input type="text" id = "name" name="name" class="form-control" style="width:400px" required>
                </div>
                <div class="mb-3 text-dark">
                    <label for="username" class="form-label text">Username : </label>
                    (Enter email address)
                    <input type="email" id = "email" name = "email" class="form-control" required>
                </div>
                <div class="mb-3 text-dark">
                    <label for="password" class="form-label text">Password : </label>
                    <input type="password" id = "password1" name = "password1" class="form-control" required>
                </div>
                <div class="mb-3 text-dark">
                    <label for="confirmpassword" class="form-label text">Confirm Password : </label>
                    <input type="password" id="password2" name="password2" class="form-control" required>
                </div>
                <div class="dropdown-center mb-3">
                    <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Gender
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Male</a></li>
                      <li><a class="dropdown-item" href="#">Female</a></li>
                      <li><a class="dropdown-item" href="#">Other</a></li>
                    </ul>
                </div>
                <div class="mb-3 text-dark">
                    <label for="dob" class="form-label text">Date Of Birth : </label>
                    <input type="date" name ="dob" id="dob" class="form-control" required>
                </div>
                <div class="text-center">
                    <button class="btn btn-info">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}